sudo: required

language: python
matrix:
  include:
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37

env:
  global:
    secure: "qLhCDRFObl+gdjyr8wFQzaDYyRRiHhiuJn0y4g9wq/Y1rOpL5pYvW7Qm5D2rDxU8bbkJHodvD20P7rxSPI/lLIiVsfQZJESy/fumtb0rWzgH6CCrYWbt17PkKTlMbWilV3LKyJlbNH4pd4AyGqfzoxUkFxJ5UsprzQjnYVYRi+2NwQdY3T5WnyM/+1dJ2C4+ftM5m5psilKsAV0pj21xWdUeCkNRPfCT+L4GOWzj3virH8ZvMb2MXjvlqgpW52oKFF4n+5XpCB6Frh9/l8ZzskF94NRgjXwFERcDIe9aHLY2zcz98bk1vcTvsJJSgORUnYmEI6CpFqmXPBuj8N7p7LnusI8arSW7ixYQiS/dbYlbmY4jJ7u6hX1iw3+ECbaXt9NWozeO9o5sJANIwa/aNNBRCETIZ1XRbd4lEVLdcwz6RT03CnoDPCwB54auUMz2L9vBkN+G2f2fWGzU9YXW815FR/icKT5xyqOZvB070MQ+/5oZ3z3UewEzkRvt/eMnqsFynpfK7wwtPJ7kYp9mtlxjpQ9loXmPR5Nb4OgVqZGiyANTPEicyYaRvEM1Q43Hq3CetasnPmykpUQGFEFEV5LkAC4MjL6YkT3KsMvIjsMmR16fRPTH/xs02o4LL7JOxZycqoUQFqtJgFl4D1BA0+biBVFGG+kExB8EtsLEVEw="

services:
  - docker
before_install:
  - docker pull landoop/kafka-lenses-dev:latest

install:
  - make install
  - make LICENSE_KEY=$LICENSE_KEY docker

before_script:
  - ./tests/wait-for-lenses-box.sh

script:
  - make test
